@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

body {
    background-color: #f9fafb;
    font-family: 'Merriweather', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}